* {
  text-align: center;
  margin: auto;
  max-width: 500px;
}

.hidden {
  display: none;
}

label {
  display: block;
}


.bookmark-desc {
  height:50px;
  width:400px;
  border:1px solid #ccc;
  overflow: auto;
}